.footer {
  height: 20rem;
  background-color: $cp4;

  &__content {
    >h6 {
      text-align: center;
      line-height: 1.5;

      font: {
        size: $font-sm;
        weight: 300;
      }

      letter-spacing: 1px;
      color: $default-white;
    }
  }

  .fa {
    padding: 1.25rem;
    font-size: 1.875rem;
    width: 3.125rem;

    text: {
      align: center;
      decoration: none;
    }

    color: $default-white;
    transition: color .2s ease-in-out;
  }

  .fa:hover {
    color: $cp2;
  }
}