%hide-extra-space {
  overflow-x: hidden;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @extend %hide-extra-space;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @extend %hide-extra-space;
  margin: 0;
  padding: 0;
  background: $default-white;
  font-family: 'Roboto', sans-serif;
  font-size: $font-med;
  line-height: 1.15;

  ::selection {
    color: $cp4;
    background: $cp1;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// global max-width
.content {
  max-width: 64em;
  margin: auto;

  @include breakpoint-down(medium) {
    max-width: 30em;
    margin: auto;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

// flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-fd-col {
    flex-direction: column;
  }
}

// grid
.grid {
  display: grid;

  &-tmp-cols-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  &-tmp-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}

// global styles
.dim {
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.grow {
  transition: transform .1s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.toggle-display {
  display: none;
}

.rotate {
  transform: rotate(-90deg);
}