.main {
  &__section {
    margin: auto auto 5rem auto;

    &--cover-photo {
      &-1 {
        @include cover-photo("/app/images/the-lobster-photo-1.jpg", 75);

        margin: 0 0 1rem 0;
        animation: fadeInImg1 1.3s ease-in-out 0s forwards;

        @keyframes fadeInImg1 {
          from {
            clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
            opacity: 0;
          }

          to {
            clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
            opacity: 1;
          }
        }
      }

      &-2 {
        @include cover-photo("/app/images/the-lobster-photo-2.jpg", 30);

        margin: 1rem 0 0 0;
        animation: fadeInImg2 1.3s ease-in-out 0s forwards;

        @keyframes fadeInImg2 {
          from {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
            opacity: 0;
          }

          to {
            clip-path: polygon(0 0, 100% 14%, 100% 100%, 0 100%);
            opacity: 1;
          }
        }
      }
    }

    &--hero {
      margin-left: 11.25rem;
      transform: translateY(-30px);

      >p {
        margin: 0 0 .5rem 0;
        color: $default-white;
        text-shadow: .125rem .125rem 0 #00000020;

        font: {
          size: $font-lg;
          weight: 600;
          style: italic;
        }

        @include text-animation-fade-in-up;
      }

      >h1 {
        margin: 0;
        color: #202020;

        font: {
          family: 'Montserrat', sans-serif;
          size: $font-xlg + 1rem;
        }

        text: {
          transform: uppercase;
          shadow: .25rem .25rem 0 $default-white;
        }

        @include text-animation-fade-in-up;
      }

      >h4 {
        margin: 0;
        color: $default-white;
        text-shadow: .125rem .125rem 0 #00000020;

        font: {
          family: 'Montserrat', sans-serif;
          size: $font-sm;
          weight: 600;
        }

        @include text-animation-fade-in-up;
      }

      .first {
        animation-delay: 1s;
      }

      .second {
        animation-delay: 1.5s;
      }

      .third {
        animation-delay: 2s;
      }
    }

    &--header-text {
      >h1 {
        font-size: $font-xlg - 1.25rem;
        color: #202020;

        text: {
          transform: uppercase;
          shadow: .1875rem .1875rem 0 #00000020;
        }

        letter-spacing: .625rem;

        &::before {
          content: " ";
          position: absolute;
          width: 120px;
          height: 2px;
          background-color: #202020;
          transform: translate(-140px, 18px);
          box-shadow: .1875rem .1875rem 0 #00000020;
        }

        &::after {
          content: " ";
          position: absolute;
          width: 120px;
          height: 2px;
          background-color: #202020;
          transform: translate(10px, 18px);
          box-shadow: .1875rem .1875rem 0 #00000020;
        }
      }
    }

    &--card-1 {
      @include padding-margin-all(4, .625);

      color: #202020;
      font-size: $font-sm;
      background: $cp3;
    }

    &--card-2 {
      @include padding-margin-all(4, .625);

      color: #202020;
      font-size: $font-sm;
      background: $cp2;
    }

    &--movie-quote {
      font: {
        family: 'Montserrat', sans-serif;
        size: $font-lg;
        weight: 400;
      }

      color: $cp1;
      width: 25rem;
      text-shadow: .125rem .125rem 0 #00000020;
      margin-left: 11.25rem;
      line-height: 1.5;
      transform: translateY(20px);
    }
  }

  .dim {
    background:rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
  }

  .box {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}