.main {
  &__section {
    margin: auto auto 5rem auto;

    &--cover-photo {
      &-1 {
        @include cover-photo("/app/images/the-lobster-photo-1.jpg", 75);

        margin: 0 0 1rem 0;
        animation: fadeInImg1 1.3s ease-in-out 0s forwards;

        @keyframes fadeInImg1 {
          from {
            clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
            opacity: 0;
          }

          to {
            clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
            opacity: 1;
          }
        }
      }

      &-2 {
        @include cover-photo("/app/images/the-lobster-photo-2.jpg", 30);

        margin: 1rem 0 0 0;
        animation: fadeInImg2 1.3s ease-in-out 0s forwards;

        @keyframes fadeInImg2 {
          from {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            opacity: 0;
          }

          to {
            clip-path: polygon(0 0, 100% 14%, 100% 100%, 0 86%);
            opacity: 1;
          }
        }
      }
    }

    &--hero {
      transform: translate(180px, -30px);

      >p {
        position: absolute;
        padding: .1875rem .625rem;
        color: $default-white;
        text-shadow: .125rem .125rem 0 #00000020;
        top: -42px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        border: .125rem solid $default-white {
          radius: 1.875rem;
        }

        font: {
          size: $font-sm;
          weight: 600;
          style: italic;
        }

        &:is(:nth-child(2)) {
          left: 135px;
        }

        @include animation-fade-in-up;

        &:hover {
          border: .125rem solid $cp1;
          color: $cp2;
        }
      }

      >h1 {
        margin: 0;
        color: #202020;
        cursor: default;

        font: {
          family: 'Montserrat', sans-serif;
          size: $font-xlg + 1rem;
        }

        text: {
          transform: uppercase;
          shadow: .25rem .25rem 0 $cp1;
        }

        @include animation-fade-in-up;
      }

      >h4 {
        margin: 0 0 1.875rem 0;
        color: $default-white;
        text-shadow: .125rem .125rem 0 #00000020;
        cursor: default;

        font: {
          family: 'Montserrat', sans-serif;
          size: $font-sm;
          weight: 600;
        }

        @include animation-fade-in-up;
      }
    }

    &--btn {
      position: absolute;
      transition: opacity .2s ease-in-out;

      &:hover {
        opacity: .7;
      }

      >button {
        padding: .9375rem 1.5625rem;

        font: {
          family: 'Montserrat', sans-serif;
          weight: 600;
        }

        color: $cp4;
        background-color: $cp1;
        border: none;
        box-shadow: 0 .5rem 1.5rem #00000015;
        cursor: pointer;
        border-radius: .3125rem;

        @include animation-fade-in-up;

        >span {
          margin-left: .75rem;
        }
      }

      .fourth {
        animation-delay: 2.5s;
      }
    }

    &--heading {
      font-size: $font-xlg - 1.25rem;
      color: #202020;
      letter-spacing: .625rem;
      text-transform: uppercase;

      &::before {
        content: " ";
        position: absolute;
        width: 120px;
        height: 2px;
        background-color: #202020;
        transform: translate(-140px, 18px);
      }

      &::after {
        content: " ";
        position: absolute;
        width: 120px;
        height: 2px;
        background-color: #202020;
        transform: translate(10px, 18px);
      }

      @include breakpoint-down(medium) {
        font-size: $font-lg;
        letter-spacing: .375rem;

        &::before {
          width: 30px;
          height: 2px;
          transform: translate(-50px, 10px);
        }

        &::after {
          width: 30px;
          height: 2px;
          transform: translate(10px, 10px);
        }
      }
    }

    &--card-main-container {

      &-1,
      &-2 {
        margin: 1.125rem 0;
      }
    }

    &--card-row {
      margin: 0 0 1rem 0;
    }

    %card-mobile-view {
      @include breakpoint-down(medium) {
        margin: 0.5rem;
      }
    }

    &--card-1 {
      @include card-style("3rem 2rem", ".5rem", #202020, $font-sm, $cp1);
      @extend %card-mobile-view;
    }

    &--card-2 {
      @include card-style("3rem 2rem", ".5rem", #202020, $font-sm, $cp2);
      @extend %card-mobile-view;
    }

    &--card-3 {
      @include card-style("3rem 2rem", ".5rem", #202020, $font-sm, $cp3);
      @extend %card-mobile-view;
    }

    &--card-4 {
      @include card-style("3rem 2rem", ".5rem", #202020, $font-sm, $cp4);
      @extend %card-mobile-view;
    }

    &--rating-container {
      >span {
        &:not(:nth-last-child(1)) {
          margin-right: .5rem;
        }
      }
    }

    &--movie-quote {
      border: 2px solid $cp1;
      padding: 20px;

      font: {
        family: 'Montserrat', sans-serif;
        size: $font-lg;
        weight: 400;
      }

      color: $cp1;
      width: 32rem;
      text-shadow: .125rem .125rem 0 #00000020;
      line-height: 1.5;
      transform: translate(180px, -25px);
    }

    &--synopsis {
      >p {
        line-height: 1.5;
      }

      @include breakpoint-down(medium) {
        font-size: $font-sm;
      }
    }

    &--cast,
    &--crew {
      margin-top: 2.5rem;

      >a {
        cursor: pointer;
        color: #202020;

        font: {
          size: 1.625rem;
          weight: 600;
        }

        &:hover {
          color: $cp4;

          &::selection {
            color: $cp4;
            background: rgba(0, 0, 0, 0);
          }
        }

        &::selection {
          color: #202020;
          background: rgba(0, 0, 0, 0);
        }

        .fa-chevron-down {
          margin-left: .625rem;
          font-size: 1.25rem;
        }

        @include breakpoint-down(medium) {
          font-size: $font-lg;
        }
      }
    }
  }

  .first {
    animation-delay: 1s;
  }

  .second {
    animation-delay: 1.5s;
  }

  .third {
    animation-delay: 2s;
  }
}